.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}


.mobile-message {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  top: 0;
  left: 3px;
  right: 3px;
  bottom: 0;
  background-color: #161715; /* Background color */
  color: #bfb7af; /* Text color */
  font-family: monospace; /* Monospace font */
  font-style: italic;
  font-variant-caps: all-small-caps;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  font-size: 20px; /* Adjust font size as needed */
  z-index: 1000; /* Make sure it's above all other content */
}

@media (max-width: 680px) {
  .mobile-message {
      display: flex;
  }
}