/* Basic Reset */
nav, header, footer {
    display: block;
    background: #1e1e1e;
    font-family: monospace;
    font-size: medium;
    line-height: 1vw;
}

/* Body Styles */
body {
    background-color: #FFF;
    line-height: 1;
    margin: 0;
    padding-top: 0; /* Height of the navbar */
}

/* Grid System */
.containerH {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.rowH {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rowH::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    position: fixed;
    top: 0;
    left: 0; /* Position nav on the right side */
    height: 100%; /* Full height */
    width: 360px; /* Width of the sidebar */
    background-color: #1e1e1e;
    z-index: 100; /* Ensures navbar is on top */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start;
    padding: 0; /* Spacing at the top */
}

nav ul.topnav {
    flex-direction: column;
    padding: 50% 0 0 40%;
    align-items: flex-start;
}

nav ul.topnav li {
    display: block; /* Display items in a block (vertical) */
    width: 100%; /* Full width */
}

nav ul.topnav li a {
    text-align: left;
    position: relative;
    padding: 14px 20px; /* Adjust padding as needed */
    color: #FFFDD0;
    display: block;
    text-decoration: none;
    transition: font-weight 0.3s ease, text-decoration 0.3s ease; 

}

nav ul.topnav li a:hover::before,
nav ul.topnav li a.selected::before {
    content: '> ';
    position: absolute;
    left: 0;
    color: #FFD700; /* Adjust the color as needed */
    /* You can add more styling here if needed */
}

nav ul.topnav li a:hover,
nav ul.topnav li a.selected {
    text-decoration: underline; /* Underline on hover and when selected */
    color: #FFD700; /* Change color on hover and when selected */
}

ul.topnav li.dropdownIcon {
    display: none; /* Hide dropdown icon if not needed */
}

/* Mobile Responsive */
@media screen and (max-width: 680px) {
    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%; /* Full width for smaller screens */
        height: auto;
        background-color: #1e1e1e; /* Background color */
    }

    nav ul.topnav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-top: 20px; /* Provide space for the dropdown icon */
    }

    nav ul.topnav li a {
        text-align: left;
        padding: 1.5vw 0 5vw 5vw; /* Adjust padding as needed */
        color: #FFFDD0;
        display: block;
    }

    nav ul.topnav > li:not(:first-child):not(.dropdownIcon),
    nav ul.topnav.responsive > li:not(:first-child) {
        display: none; /* Initially hide menu items */
    }

    nav ul.topnav > li.dropdownIcon {
        display: block;
        position: fixed; /* Fixed position to keep it stationary */
        left: 92vw;
        top: 0;
        margin: 3.5vw;
        z-index: 101; /* Ensure it's above other elements */
    }

    nav ul.topnav.responsive {
        position: relative;
    }

    nav ul.topnav.responsive > li.dropdownIcon {
        right: 2vw; /* Adjust position as needed */
    }

    nav ul.topnav.responsive li a {
        margin: 0;
        display: block;
    }

    nav ul.topnav.responsive > li:not(:first-child) {
        display: block; /* Show the list items */
        width: 100%; /* Full width */
    }
}