nav, header, footer {
    display: block;
    background: #2f2f2f;
    font-family: monospace;
    font-size: medium;
    line-height: 1vw;
}

nav {

    justify-content: space-between; 
}

.social {
    display: flex;
    justify-content: space-around; /* Space out the icons */
    align-items: center;
    padding-bottom: 20px; /* Add padding at the bottom */
}

.social a {
    display: inline-block;
    margin: 0 10px; /* Space between icons */
}

.social img {
    height: 24px; /* Adjust size as needed */
    width: auto;
}

body {
    background-color: #FFF;
    line-height: 1;
    margin: 0;
    padding-top: 0;
}

.containerH {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}


.rowH {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rowH::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 360px;
    background-color: #1e1e1e;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

nav ul.topnav {
    flex-direction: column;
    padding: 50% 0 0 40%;
    align-items: flex-start;
}

nav ul.topnav li {
    display: block;
    width: 100%;
}

nav ul.topnav li a {
    text-align: left;
    position: relative;
    padding: 14px 20px;
    color: #FFFDD0;
    opacity: 0.5;
    display: block;
    text-decoration: none;
    transition: font-weight 0.3s ease, text-decoration 0.3s ease;
}

nav ul.topnav li a:hover::before,
nav ul.topnav li a.selected::before {
    content: '> ';
    position: absolute;
    left: 0;
    color: #FFD700;
}

nav ul.topnav li a:hover,
nav ul.topnav li a.selected {
    text-decoration: underline;
    color: #FFD700;
    opacity: 1;
}

ul.topnav li.dropdownIcon {
    display: none;
}

@media screen and (max-width: 680px) {
    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #1e1e1e;
    }

    nav ul.topnav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-top: 20px;
    }

    nav ul.topnav li a {
        text-align: left;
        padding: 1.5vw 0 5vw 5vw;
        color: #FFFDD0;
        display: block;
    }

    nav ul.topnav > li:not(:first-child):not(.dropdownIcon),
    nav ul.topnav.responsive > li:not(:first-child) {
        display: none;
    }

    nav ul.topnav > li.dropdownIcon {
        display: block;
        position: fixed;
        left: 92vw;
        top: 0;
        margin: 3.5vw;
        z-index: 101;
    }

    nav ul.topnav.responsive {
        position: relative;
    }

    nav ul.topnav.responsive > li.dropdownIcon {
        right: 2vw;
    }

    nav ul.topnav.responsive li a {
        margin: 0;
        display: block;
    }

    nav ul.topnav.responsive > li:not(:first-child) {
        display: block;
        width: 100%;
    }
}
