.privacy-policy {
    margin: 20px 20px 0 20px;
    padding: 56px 220px 0 128px;
    font-family: monospace;
    text-align: left;
  }
  
.privacy-policy h2 {
    font-family: monospace;
    font-weight: lighter;
    font-size: 1.3vw;
    line-height: 1.5vw;
    text-align: justify;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-top: 3%;
    margin-bottom: 1%;
    display: inline-block;
    color: var(--background);
    background: var(--text);
    max-width: 95%;
    padding: 0.5vw 1vw;
  }
  
.privacy-policy p {
    color: var(--text);
    font-family: monospace;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-bottom: 1%;
  }

.privacy-policy p.aha {
    color: var(--text);
    font-family: monospace;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
    margin-bottom: 2%;
  }

.privacy-policy p.bottom{

  }

.privacy-policy p.almost-bottom{
    margin: 27px 0px 58px 0;

  }
  
.privacy-policy p:not(.aha):not(.bottom):not(.almost-bottom):hover {
    transform: scale(1.03);
    color: var(--hover-color);
}

.privacy-policy h1{
    color: var(--background);
    margin: 0 0 15px 0;
    padding: 0.5vw 1vw;
    font-family: monospace;
    background: var(--text);
    font-weight: lighter;
    font-size: 2vw;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    display: inline-block;
    max-width: 95%;
  }

.back-to-dashboard {
    position: fixed; 
    bottom: 20px;  
    right: 20px;     
    z-index: 1000;  
    padding: 10px 15px;
    background-color: #fffdd0; 
    color: #1e1e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.back-to-dashboard:hover {
    background-color: #fff87a; 
}
