body {
    background-color: #2f2f2f;
    line-height: 1;
    margin: 0;
    padding: 0;
}

nav, header, footer {
    display: block;
    background: #161715;
}

#sect-P {
    background: #2f2f2f;
}

.containerP {
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
    padding-left: 360px;
    font-family: monospace;
}

.rowP {
    display: flex;
    justify-content: center;
}

h2.project-type-title{
    font-weight: 200;
}

.TotalP{
    font-size: 2vw;
    line-height: 2.2;
}

.Title {
    color: var(--background);
    margin: 0 auto;
    padding: 0.5vw 1vw;
    font-family: monospace;
    background: var(--text);
    font-weight: lighter;
    font-size: 2.5vw;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    display: inline-block;
    max-width: 95%;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    height: 686px;
    position: relative;
}

.project-types {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.project-type-title {
    cursor: pointer;
    color: #f2f2f2;
    transition: color 0.3s ease;
}

.project-type-title:hover,
.project-type-title.selected {
    color: #FFD700;
    text-decoration: underline;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #292929;
    color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.333% - 20px);
    max-width: 130px;
    min-width: 130px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-height: 180px;
}

.NoProject {
    color: #000000;
    background:#f2f2f2;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
}

.project-item:hover {
    background-color: #333333;
    transform: scale(1.05);
}

.project-item h3 {
    font-size: 1.5em;
    margin-bottom: 15%;
}

.project-item p {
    font-size: 1em;
    line-height: 1.4;
}

.project-image {
    width: 100%;
    min-width: 100px;
    height: 50%;
    min-height: 80px;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 680px) {
    .containerP {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project-item {
        width: 100%;
        min-width: 0;
        margin: 10px 0;
    }

    .Title {
        font-size: 6vw;
        padding: 1vw;
    }

    .TotalP {
        font-size: 5vw;
    }

    .project-type-title {
        font-size: 5vw;
    }

    .project-image {
        height: auto;
        min-height: 0;
    }

    .project-item h3, .project-item p {
        font-size: 4vw;
    }
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

.page-number {
    cursor: pointer;
    padding: 5px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 5px;
}

.page-number:hover,
.page-number.selected {
    color: #FFD700;
}