/* General Styles */
body {
    background-color: #1E1E1E;
    line-height: 1;
    margin: 0;
    padding: 0;
}

nav, header, footer {
    display: block;
}

/* Container */
.containerP {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

/* Row */
.rowP {
    display: flex;
    justify-content: center;
}

/* Title */
.Title {
    color: #f2f2f2;
    margin: 25px;
    font-size: 2.7vw;
    font-weight: 400;
    text-align: center;
}

/* Project Section */
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Project Types */
.project-types {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Wrap types for smaller screens */
}

.project-type-title {
    cursor: pointer;
    color: #f2f2f2;
    transition: color 0.3s ease;
}

.project-type-title:hover,
.project-type-title.selected {
    color: #FFD700;
    text-decoration: underline;
}

/* Project Container */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #292929;
    color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.333% - 20px);
    max-width: 300px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-item:hover {
    background-color: #333333;
    transform: scale(1.05);
}

/* Project Item Content */
.project-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1em;
    line-height: 1.4;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Background Gradient */
#sect-P {
    background: linear-gradient(45deg, #1c2052, #410e6b, #502570);
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-item {
        width: calc(50% - 20px);
    }

    .Title {
        font-size: 4vw; /* Adjust title size for better readability on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-item {
        width: 100%;
    }
}
