nav, 
header, 
footer {
    display: block;
}


body {
    background-color: #1E1E1E;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p{
    font-size: 35px;
    padding: 10px;
}

label {
    font-size: 3rem; 
}

.container{
    width: 100%;
    height: 900px;
    margin: auto;
    padding-top: 11%;
    padding-bottom: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}/* Additional styling as needed */

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

#sect-1{
    background: linear-gradient(45deg, #1c2052, #410e6b, #502570);
}

div.leftSide-col{
    margin-left:10%;
}

div.rightSide-col{
    margin-left: 30%;
}

.imageA {
    max-width: 100%;
    height: auto;
}


h1.Project{
    font-size: 65px;
    text-align: center;
}

h1.large {
    color: #FFF;
    font-weight: lighter;
    font-size: 5vw;
}
h1.large2 {
    color: #FFF;
    font-weight: lighter;
    font-size: 4vw;
    margin-left: 30%;
    line-height: 70px;
}

h1.Project {
    font-size: 4vw; /* Adjust the value as needed */
}


div.box {
    text-align: center;
    margin: 24px;
    padding: 24px 24px 40px 24px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
}
div.Icon img{
    max-width: 100%;
    height: auto;
}

h2.small {
    color:#502570;
    font-weight: 100;
    font-size: 20px;
    margin-left: 70%;
}