:root{
    --text: #fffdd0;
    --background: #2f2f2f;
    --font-family: monospace;
}

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p{
    font-size: 35px;
    padding: 10px;
}

label {
    font-size: 3rem; 
}

.containerW{
    width: 100%;
    height: 900px;
    margin: auto;
    padding-left: 360px;
}

.rowW{
    width: 100%;
    margin-top:0px;
    display: flex;
    flex-wrap: wrap;
}

.rowW::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%; margin-bottom: 100%; align-self: center;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

#sect-w{
    background: var(--background);
}

div.leftSide-col{
    margin-left:10%;
    margin-top:4vw;
}

.rightSide-col {
    display: flex;
    align-items: center;
    height: 100%; 
    margin-left: 10%;
    margin-top: 10vw;
    margin-right: 10%;
}

.logo {
    transition: transform 0.3s ease, filter 0.3s ease;
    display: inline-block; 
    max-width: 100%;
    height: auto; 
    filter: grayscale(100%);
}

.logo:hover {
    transform: scale(1.05); 
    filter: grayscale(0%);
}

h1.Project{
    font-size: 65px;
    text-align: center;
}

h1.large {
    color: var(--background);
    margin: 0 auto; 
    padding: 0.5vw 1vw; 
    font-family: monospace;
    background: var(--text);
    font-weight: lighter;
    font-size: 2.5vw; 
    text-align: center; 
    line-height: normal; 
    word-wrap: break-word; 
    display: inline-block; 
    max-width: 95%; 
}

h1.large2 {
    color: var(--text);
    font-family: monospace;
    font-weight: lighter;
    margin-top: 15%;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: justify;
}

h2.small {
    color:#502570;
    font-weight: 100;
    font-size: 20px;
    margin-left: 70%;
}

h1.Project {
    font-size: 4vw; 
}

div.box {
    text-align: center;
    margin: 24px;
    padding: 24px 24px 40px 24px;
    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
}

div.Icon img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 680px) {
    .containerW {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }

    .rowW {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
        margin-bottom: 50px;
    }

    h1.large, h1.Project {
        font-size: 5vw;
        text-align: left;
    }

    h1.large2 {
        font-size: 3.5vw;
        line-height: 5vw;
        text-align: left;
    }

    h2.small {
        margin-left: 0; 
        font-size: 4vw; 
    }

    div.box {
        margin: 12px; 
        padding: 12px 12px 20px 12px; 
    }

    div.leftSide-col, div.rightSide-col {
        margin-left: 0; 
        margin-top: 20%;
    }

    .logo {
        display: none;
    }

    label, p, article p {
        font-size: 5vw; 
    }
}
